.details {
  display: grid;
  height: 90vh !important;
  justify-items: center;
  justify-content: center !important;
  align-items: center !important;
}
.card {
  box-shadow: 0 5px 6px rgba(28, 10, 134, 1), 0 5px 6px rgba(9, 7, 155, 0.23);
  border-radius: 5rem;
}
/* details page  */
.detailsHeader {
  /* margin: 20px; */
  font-family: "Paytone One";
  color: #202020;

  letter-spacing: -2px;
}

.detailsHeader span {
  margin: 11px 0 17px 0;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #9e9e9d, 0 -2px 1px rgb(180, 176, 176);
  letter-spacing: -4px;
}

/* START hEADER  */

/* eND hEADER  */
